<div class="distance{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %}" style="padding-top: {{ section.settings.distance_top }}; padding-bottom: {{ section.settings.distance_bottom }}">
  	{% if section.settings.has_fullwidth == false %}
  	<div class="container_90">
  	{% endif %}
	  	<div class="row spacing-{{ section.settings.spacing }}">
	  		{% for block in section.blocks %}
		  		{% if block.type == 'block_image_1' %}
			  		<div class="item_image{% if block.settings.class_image != blank %} {{ block.settings.class_image }}{% endif %} {{ block.settings.width }} {{ block.settings.width_lg }} {{ block.settings.width_md }}">
			  			<div class="gallery-image_gr">
			  				{% if block.settings.show_image_1 %}
		  						<div class="gallery-image__item hover-image mb-{{ section.settings.spacing }} mb-md-20 mb-xs-10">
						  			{% if block.settings.image_1 != blank %}
							  			<div class="respone_image" style="padding-top:{{ 1 | divided_by: block.settings.image_1.aspect_ratio | times: 100}}%;">
							  				{% assign img_url = block.settings.image_1 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
							  				<img class="row__image lazyload"
							  				src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
							  				data-src="{{ img_url }}"
							  				data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
							  				data-aspectratio="{{ block.settings.image_1.aspect_ratio }}"
							  				data-sizes="auto"
							  				alt="">
							  			</div>
							  			{% if block.settings.cta_label_1 != blank %}
								  			<div class="gallery-image__caption">
								  				<a href="{{ block.settings.link_1 }}" class="hover_x" style="{% if block.settings.color_link_1 != blank %}color: {{ block.settings.color_link_1 }};{% endif %}{% if block.settings.size_link_1 != blank %}font-size: {{ block.settings.size_link_1 }};background: {{ block.settings.background_button_1 }};{% endif %}">
								  					<span>{{ block.settings.cta_label_1 | escape }}</span>
								  					<i class="zmdi zmdi-long-arrow-right"></i>
								  				</a>
								  			</div>
							  			{% endif %}
						  			{% else %}
						  				<img src="https://via.placeholder.com/450x450?text=450x450">
						  			{% endif %}
						  		</div>
					  		{% endif %}
					  		{% if block.settings.show_image_2 %}
						  		<div class="gallery-image__item hover-image mb-{{ section.settings.spacing }} mb-md-20 mb-xs-10">
						  			{% if block.settings.image_2 != blank %}
							  			<div class="respone_image" style="padding-top:{{ 1 | divided_by: block.settings.image_2.aspect_ratio | times: 100}}%;">
							  				{% assign img_url = block.settings.image_2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
							  				<img class="row__image lazyload"
							  				src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
							  				data-src="{{ img_url }}"
							  				data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
							  				data-aspectratio="{{ block.settings.image_2.aspect_ratio }}"
							  				data-sizes="auto"
							  				alt="">
							  			</div>
							  			{% if block.settings.cta_label_2 != blank %}
								  			<div class="gallery-image__caption">
								  				<a href="{{ block.settings.link_2 }}" class="hover_x" style="{% if block.settings.color_link_2 != blank %}color: {{ block.settings.color_link_2 }};{% endif %}{% if block.settings.size_link_2 != blank %}font-size: {{ block.settings.size_link_2 }};background: {{ block.settings.background_button_2 }};{% endif %}">
								  					<span>{{ block.settings.cta_label_2 | escape }}</span>
								  					<i class="zmdi zmdi-long-arrow-right"></i>
								  				</a>
								  			</div>
							  			{% endif %}
						  			{% else %}
						  				<img src="https://via.placeholder.com/450x450?text=450x450">
						  			{% endif %}
						  		</div>
					  		{% endif %}
					  	</div>
			  		</div>
		  		{% endif %}
		  		{% if block.type == 'block_image_2' %}
			  		<div class="item_image{% if block.settings.class_image != blank %} {{ block.settings.class_image }}{% endif %} {{ block.settings.width }} {{ block.settings.width_lg }} {{ block.settings.width_md }}">
			  			{% if block.settings.show_image %}
				  			<div class="gallery-image__item hover-image">
					  			{% if block.settings.image != blank %}
						  			<div class="respone_image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
						  				{% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
						  				<img class="row__image lazyload"
						  				src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
						  				data-src="{{ img_url }}"
						  				data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
						  				data-aspectratio="{{ block.settings.image.aspect_ratio }}"
						  				data-sizes="auto"
						  				alt="">
						  			</div>
						  			{% if block.settings.cta_label != blank %}
							  			<div class="gallery-image__caption">
							  				<a href="{{ block.settings.link }}" class="hover_x" style="{% if block.settings.color_link != blank %}color: {{ block.settings.color_link }};{% endif %}{% if block.settings.size_link != blank %}font-size: {{ block.settings.size_link }};background: {{ block.settings.background_button }};{% endif %}">
							  					<span>{{ block.settings.cta_label | escape }}</span>
							  					<i class="zmdi zmdi-long-arrow-right"></i>
							  				</a>
							  			</div>
						  			{% endif %}
					  			{% else %}
					  				<img src="https://via.placeholder.com/922x922?text=922x922">
					  			{% endif %}
				  			</div>
			  			{% endif %}
			  		</div>
		  		{% endif %}
	  		{% endfor %}
	  	</div>
	{% if section.settings.has_fullwidth == false %} 
  	</div>
  	{% endif %}
</div>

{% schema %}
	{
		"name": "Group image special",
		"class": "index-section group-image-special wow fadeIn animated",
		"settings": [
			{
				"type": "select",
				"id": "spacing",
				"label": "Spacing Items",
				"default": "0",
				"options": [
					{
						"label": "0px",
						"value": "0"
					},
					{
						"label": "5px",
						"value": "5"
					},
					{
						"label": "10px",
						"value": "10"
					},
					{
						"label": "15px",
						"value": "15"
					},
					{
						"label": "20px",
						"value": "20"
					},
					{
						"label": "25px",
						"value": "25"
					},
					{
						"label": "30px",
						"value": "30"
					},
					{
						"label": "40px",
						"value": "40"
					},
					{
						"label": "50px",
						"value": "50"
					},
					{
						"label": "60px",
						"value": "60"
					}
				]
			},
			{
				"type": "text",
				"id": "class",
				"label": "Class"
			},
			{
				"type": "checkbox",
				"id": "has_fullwidth",
				"label": "Full Width",
				"default": false
			},
			{
		        "type": "text",
		        "id": "distance_top",
		        "label": "Top Distance Section",
		        "default": "30px"
	      	},
	      	{
		        "type": "text",
		        "id": "distance_bottom",
		        "label": "Bottom Distance Section",
		        "default": "30px"
	      	}
		],
		"blocks": [
			{
				"type": "block_image_1",
				"name": "Block 2 Image",
				"settings": [
					{
						"type": "select",
						"id": "width",
						"label": "Container width (Large Desktop)",
						"default": "col-xl-6",
						"options": [
							{
								"value": "col-xl-2",
								"label": "2/12"
							},
							{
								"value": "col-xl-3",
								"label": "3/12"
							},
							{
								"value": "col-xl-4",
								"label": "4/12"
							},
							{
								"value": "col-xl-5",
								"label": "5/12"
							},
							{
								"value": "col-xl-6",
								"label": "6/12"
							},
							{
								"value": "col-xl-7",
								"label": "7/12"
							},
							{
								"value": "col-xl-8",
								"label": "8/12"
							},
							{
								"value": "col-xl-9",
								"label": "9/12"
							},
							{
								"value": "col-xl-10",
								"label": "10/12"
							},
							{
								"value": "col-xl-12",
								"label": "12/12"
							}
						]
					},
					{
						"type": "select",
						"id": "width_lg",
						"label": "Container width (Desktop)",
						"default": "col-lg-6",
						"options": [
							{
								"value": "col-lg-2",
								"label": "2/12"
							},
							{
								"value": "col-lg-3",
								"label": "3/12"
							},
							{
								"value": "col-lg-4",
								"label": "4/12"
							},
							{
								"value": "col-lg-5",
								"label": "5/12"
							},
							{
								"value": "col-lg-6",
								"label": "6/12"
							},
							{
								"value": "col-lg-7",
								"label": "7/12"
							},
							{
								"value": "col-lg-8",
								"label": "8/12"
							},
							{
								"value": "col-lg-9",
								"label": "9/12"
							},
							{
								"value": "col-lg-10",
								"label": "10/12"
							},
							{
								"value": "col-lg-12",
								"label": "12/12"
							}
						]
					},
					{
						"type": "select",
						"id": "width_md",
						"label": "Container width(Tablet)",
						"default": "col-md-6",
						"options": [
							{
								"value": "col-md-2",
								"label": "2/12"
							},
							{
								"value": "col-md-3",
								"label": "3/12"
							},
							{
								"value": "col-md-4",
								"label": "4/12"
							},
							{
								"value": "col-md-5",
								"label": "5/12"
							},
							{
								"value": "col-md-6",
								"label": "6/12"
							},
							{
								"value": "col-md-7",
								"label": "7/12"
							},
							{
								"value": "col-md-8",
								"label": "8/12"
							},
							{
								"value": "col-md-9",
								"label": "9/12"
							},
							{
								"value": "col-md-10",
								"label": "10/12"
							},
							{
								"value": "col-md-12",
								"label": "12/12"
							}
						]
					},
					{
						"type": "checkbox",
						"id": "show_image_1",
						"label": "Show Image 1",
						"default": true
					},
					{
						"type": "image_picker",
						"id": "image_1",
						"label": "Image"
					},
					{
						"type": "text",
						"id": "cta_label_1",
						"label": "Caption"
					},
					{
						"type": "text",
						"id": "size_link_1",
						"label": "Size Link",
						"default": "1.8rem"
					},
					{
						"type": "color",
						"id": "color_link_1",
						"label": "Color Link",
						"default": "#000"
					},
					{
						"type": "url",
						"id": "link_1",
						"label": "Link",
						"info": "Optional"
					},
					{
						"type": "color",
						"id": "background_button_1",
						"label": "Background Button",
						"default": "#fff"
					},
					{
						"type": "checkbox",
						"id": "show_image_2",
						"label": "Show Image 2",
						"default": true
					},
					{
						"type": "image_picker",
						"id": "image_2",
						"label": "Image"
					},
					{
						"type": "text",
						"id": "cta_label_2",
						"label": "Caption"
					},
					{
						"type": "text",
						"id": "size_link_2",
						"label": "Size Link",
						"default": "1.8rem"
					},
					{
						"type": "color",
						"id": "color_link_2",
						"label": "Color Link",
						"default": "#000"
					},
					{
						"type": "url",
						"id": "link_2",
						"label": "Link",
						"info": "Optional"
					},
					{
						"type": "color",
						"id": "background_button_2",
						"label": "Background Button",
						"default": "#fff"
					},
					{
						"type": "text",
						"id": "class_image",
						"label": "Class Image"
					}
				]
			},
			{
				"type": "block_image_2",
				"name": "Block 1 Image",
				"settings": [
					{
						"type": "select",
						"id": "width",
						"label": "Container width (Large Desktop)",
						"default": "col-xl-6",
						"options": [
							{
								"value": "col-xl-2",
								"label": "2/12"
							},
							{
								"value": "col-xl-3",
								"label": "3/12"
							},
							{
								"value": "col-xl-4",
								"label": "4/12"
							},
							{
								"value": "col-xl-5",
								"label": "5/12"
							},
							{
								"value": "col-xl-6",
								"label": "6/12"
							},
							{
								"value": "col-xl-7",
								"label": "7/12"
							},
							{
								"value": "col-xl-8",
								"label": "8/12"
							},
							{
								"value": "col-xl-9",
								"label": "9/12"
							},
							{
								"value": "col-xl-10",
								"label": "10/12"
							},
							{
								"value": "col-xl-12",
								"label": "12/12"
							}
						]
					},
					{
						"type": "select",
						"id": "width_lg",
						"label": "Container width (Desktop)",
						"default": "col-lg-6",
						"options": [
							{
								"value": "col-lg-2",
								"label": "2/12"
							},
							{
								"value": "col-lg-3",
								"label": "3/12"
							},
							{
								"value": "col-lg-4",
								"label": "4/12"
							},
							{
								"value": "col-lg-5",
								"label": "5/12"
							},
							{
								"value": "col-lg-6",
								"label": "6/12"
							},
							{
								"value": "col-lg-7",
								"label": "7/12"
							},
							{
								"value": "col-lg-8",
								"label": "8/12"
							},
							{
								"value": "col-lg-9",
								"label": "9/12"
							},
							{
								"value": "col-lg-10",
								"label": "10/12"
							},
							{
								"value": "col-lg-12",
								"label": "12/12"
							}
						]
					},
					{
						"type": "select",
						"id": "width_md",
						"label": "Container width(Tablet)",
						"default": "col-md-6",
						"options": [
							{
								"value": "col-md-2",
								"label": "2/12"
							},
							{
								"value": "col-md-3",
								"label": "3/12"
							},
							{
								"value": "col-md-4",
								"label": "4/12"
							},
							{
								"value": "col-md-5",
								"label": "5/12"
							},
							{
								"value": "col-md-6",
								"label": "6/12"
							},
							{
								"value": "col-md-7",
								"label": "7/12"
							},
							{
								"value": "col-md-8",
								"label": "8/12"
							},
							{
								"value": "col-md-9",
								"label": "9/12"
							},
							{
								"value": "col-md-10",
								"label": "10/12"
							},
							{
								"value": "col-md-12",
								"label": "12/12"
							}
						]
					},
					{
						"type": "checkbox",
						"id": "show_image",
						"label": "Show Image",
						"default": true
					},
					{
						"type": "image_picker",
						"id": "image",
						"label": "Image"
					},
					{
						"type": "text",
						"id": "cta_label",
						"label": "Caption"
					},
					{
						"type": "text",
						"id": "size_link",
						"label": "Size Link",
						"default": "1.8rem"
					},
					{
						"type": "color",
						"id": "color_link",
						"label": "Color Link",
						"default": "#000"
					},
					{
						"type": "url",
						"id": "link",
						"label": "Link",
						"info": "Optional"
					},
					{
						"type": "color",
						"id": "background_button",
						"label": "Background Button",
						"default": "#fff"
					},
					{
						"type": "text",
						"id": "class_image",
						"label": "Class Image"
					}
				]
			}
		],
		"presets": [
		  {
		    "name": "Group Image Special",
		    "category": "Image",
		    "blocks": [
		    	{
		    		"type": "block_image_1"
		    	},
		    	{
		    		"type": "block_image_2"
		    	},
		    	{
		    		"type": "block_image_1"
		    	}
		    ]
		  }
		]
	}
{% endschema %}