<style>
  #shopify-section-{{ section.id }}.section-img-certification {
    {% if section.settings.background_color != blank %}
      background-color: {{ section.settings.background_color }};
    {% endif %}
  }
  #shopify-section-{{ section.id }} .distance {
    padding-top: {{ section.settings.distance_top }};
    padding-bottom: {{ section.settings.distance_bottom }};
  }
</style>
<div class="distance{% if section.settings.has_fullwidth == true %} full_width{% endif %}{% if section.settings.class != blank %} {{ section.settings.class }}{% endif %} wow fadeInUp animated">
  {% if section.settings.has_fullwidth == false %}
    <div class="container_ct">
  {% endif %}
    <div class="block">
      <div class="row no-gutters">
        <div class="item_image col-md-6">
          <div class="item-image-content position-absolute {{ section.settings.position }}">
            {% if section.settings.image != blank %}
              <img src="{{ section.settings.image | img_url: '630x' }}" class="img-fluid">
            {% else %}
              <img src="https://via.placeholder.com/628x775?text=628x775">
            {% endif %}
          </div> 
        </div>
        <div class="item_text col-md-6 pt-100 mt-10 pt-lg-50 mt-lg-0 pb-100 mb-30 pb-lg-50 mb-lg-0">
          <div class="block">
            {% if section.settings.subtitle != blank %}
              <div class="subtitle mb-10" style="{% if section.settings.color_sub != blank %}color: {{ section.settings.color_sub }};{% endif %}{% if section.settings.color_sub != blank %}font-size: {{ section.settings.size_sub }};{% endif %}">{{ section.settings.subtitle }}</div>
            {% endif %}
            {% if section.settings.title != blank %}
              <div class="title mb-20" style="{% if section.settings.color_title != blank %}color: {{ section.settings.color_title }};{% endif %}{% if section.settings.size_title != blank %}font-size: {{ section.settings.size_title }};{% endif %}">{{ section.settings.heading }}</div>
            {% endif %}
            {% if section.settings.desc != blank %}
              <div class="desc" style="{% if section.settings.color_desc != blank %}color: {{ section.settings.color_desc }};{% endif %}{% if section.settings.size_desc != blank %}font-size: {{ section.settings.size_desc }};{% endif %}">{{ section.settings.desc }}</div>
            {% endif %}
            {% if section.settings.img1 != blank or section.settings.img2 != blank %}
              <div class="b_img d-flex align-items-center mt-40">
                {% if section.settings.img1 != blank %}
                <div class="img"><img src="{{ section.settings.img1 | img_url: '300x' }}" class="img-fluid"></div>
                {% endif %}
                {% if section.settings.img2 != blank %}
                <div class="img"><img src="{{ section.settings.img2 | img_url: '300x' }}" class="img-fluid"></div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% if section.settings.has_fullwidth == false %}
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Image Width Certification",
    "class": "index-section section-img-certification",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Vinova Image With Certification"
      },
      {
        "type": "color",
        "id": "t_color",
        "label": "Heading color",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading",
        "default": "Subtitle from happy customers"
      },
      {
        "type": "select",
        "id": "title_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          },
          {
            "value": "text-right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Block Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "position",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "Block Text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "size_title",
        "label": "Size Title",
        "default": "4.4rem"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Color Title",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "size_sub",
        "label": "Size Sub",
        "default": "1.8rem"
      },
      {
        "type": "color",
        "id": "color_sub",
        "label": "Color Sub",
        "default": "#000"
      },
      {
        "type": "textarea",
        "id": "desc",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "size_desc",
        "label": "Size Description",
        "default": "1.8rem"
      },
      {
        "type": "color",
        "id": "color_desc",
        "label": "Color Description",
        "default": "#000"
      },
      {
        "type": "image_picker",
        "id": "img1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "img2",
        "label": "Image 2"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background colors"
      },
      {
        "type": "checkbox",
        "id": "has_fullwidth",
        "label": "Full Width",
        "default":   false
      },
      {
        "type": "text",
        "id": "class",
        "label": "Class"
      },
      {
        "type": "text",
        "id": "distance_top",
        "label": "Top Distance Section",
        "default": "30px"
      },
      {
        "type": "text",
        "id": "distance_bottom",
        "label": "Bottom Distance Section",
        "default": "30px"
      }
    ],
    "presets": [
      {
        "name": "Vinova Images With Certification",
        "category": "Image"
      }
    ]
  }
{% endschema %}